html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.result {
  background-color: rgb(245, 231, 231);
}

.result:empty {
  display: none;
}

.todo-li {
  background-color: rgb(150, 229, 255);
}

.todo-text.done {
  text-decoration: line-through;
  color: black;
}
